body{
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}
.bg-area {
    background-color: white;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
    font-weight: 500;
   
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: yellowgreen;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }

  .hover-underline-animation:hover{
  
    color: #0087ca;
  }

  .zoom {
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .2s; /* Animation */
    width: 30px;
    height: 35px;
    margin: 0 auto;
    margin-right: 10px;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }




  /* social media icons styles */

  .fa {
    padding: 10px 0px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-instagram {
    background: black;
    color: yellowgreen;
  }

  .fa-linkedin {
    background: black;
    color: yellowgreen;
  }

  .fa-envelope {
    background: black;
    color: yellowgreen;
  }

  .fa-github {
    background: black;
    color: yellowgreen;
  }

  .fa-github:hover{
    background-color: white;
  }

  .fa-envelope:hover{
    background-color: white;
  }

  .fa-linkedin:hover {
    background-color: white;
  }

  .fa-instagram:hover{
    background-color: white;
  }



  /* media queries do not touch */

@media screen and (min-width: 900px) {
    #div-1 {
        position: fixed;
        z-index: 1;
    }
    #div-2{
        
        margin-left: 350px;
    }
  }


  /* Skills margin between */
  .skills-margin span {
    margin: 10px 5px;
  }
/* links of woekexperience  */
  #links-hover{
    font-size: smaller;
    color: #0087ca;
    text-decoration: none;
  }

  #links-hover:hover{
    color: yellowgreen;
    text-decoration: underline;
  }




  /* resume button hover*/
  #btn-hover-2 {
    background-color: black;
    padding: 8px 8px;
    text-decoration: none;
    color: yellowgreen;
    border-radius: 10%;
    font-weight: 700;
}

#btn-hover-2:hover{
    opacity: 0.7;
    color: #0087ca;
    background-color: white;
    font-weight: 700;
}